<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      <div class="author-image">
        <img src="/img/logo.png" alt="Author Image" class="img--logo img--headshot element--center">
      </div>
      <span class="site__title">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </span>
      <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}</label>
      <div class="menu-content">
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
      </div>
    </div>
    {{ partial "sidebar/copyright.html" . }}
  </div>
</div>
